.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navBar p {
  margin-left: 20px;
  color: white;
  padding-right: 30px;
  font-size: 17px;
  transition: color 0.5s;
}

.navBar p:hover {
    color: #74CEAA; /**#D8C5F7 #3E1C76;**/
}

.chat-bot {
  cursor: pointer;
  width: 100px;
  height: 80;
  color: black;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.logo {
  width: 180px;
  height: 80px;
  margin-right: auto;
  padding-left: 30px;
}

.menu {
  align-items: center;
  margin-left: 10px;
}
