body{
    background-color: #ecf1f3;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.img__container{
    width: 50%;
    position: relative;
    height: 47rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & .cape{
        width: 100%;
        height: 100%;
        background-color: rgba(62,28,118, 0.5);
        position: absolute;
    }
  
}

.register__container__patient{
    width: 50%;
    padding: 2rem 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    
    & .register__container{
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        border: 1px solid transparent;
        -webkit-box-shadow: -4px -2px 46px -1px rgba(0,0,0,0.3);
        -moz-box-shadow: -4px -2px 46px -1px rgba(0,0,0,0.3);
        box-shadow: -4px -2px 46px -1px rgba(0,0,0,0.3);
        background-color: #fcfcfc;
        justify-content: center;
        align-items: center;
    
        h2{
            text-align: center;
            padding: 2rem 0 0;
        }
    }
}

.form__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.5rem;
    padding: 2rem;
    justify-content: center;
}


.form__container__doctor{
    display: grid;
    grid-template-columns: 15rem 15rem 15rem;
    grid-column-gap: 2.5rem;
    margin-top: 1rem;
}



.input__container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;

    & input{
        width: 100%;
        aparence: none;
        -webkit-appearance: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #A7A7A7;
        margin-top: 0.5rem;
        background-color: transparent;
        color: #6031AE;
        outline: none;
        font-size: 1em;
    }

    & input:focus{
        border: 1px solid #B99AEE;
    }

    & span{
       position: absolute;
       left: 0;
       padding: 1rem;
       pointer-events: none;
       font-size: .7em;
       color: #A7A7A7;
       text-transform: uppercase;
       transition: 0.2s;
    }

    & input:valid ~ span,
    & input:focus ~ span{
        color: #B99AEE;
        transform: translateX(10px) translateY(-1px);
        font-size: 0.65em;
        padding: 0 10px;
        background: #B99AEE;
        color: white;
        border-radius: 2px;
    }
    & select{
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #dedede;
        margin-top: 0.5rem;
        background: transparent;
        color: black;
    }
}


.buttons__form{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0 0 2rem 0;
    & button{
        width: 10rem;
        padding: .75rem;
        border-radius: 0.5rem;
        border: none;
        margin-top: 0.5rem;
        background: #B99AEE;
        color: black;
    }
    & button:nth-child(2){
        background: #ECECEC;

        &:hover{
            background: #DEDEDE;
        }
    }
    & button:hover{
        background: #966BDD;
    }
}


