/* Estilos del Layout Dashboard*/

.dashboard_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & .div1 {
    width: 16%;
    height: 100vh;
  }

  & .div2 {
    width: 84%;
    height: 100vh;
  }
}

/* Estilos de page dashboard */
.dashboard_page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
